<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search City"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>

<div class="weather" *ngIf="weatherData">
  <div class="weather--upper">
    <img
      src="../assets/hot-bg.jpg"
      alt="Hot background"
      *ngIf="weatherData.current_observation.condition.temperature > 15"
    />
    <img
      src="../assets/cold-bg.jpg"
      alt="Cold background"
      *ngIf="weatherData.current_observation.condition.temperature <= 15"
    />

    <div class="weather--upper-data">
      <div class="location">{{ weatherData.location.city }}</div>
      <div class="country">
        {{ weatherData.location.country }}
      </div>
      <div class="temperature">
        {{
          weatherData.current_observation.condition.temperature
            | number : "1.0-0"
        }}&#8451;
      </div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="situation flex-column">
        <p>{{ weatherData.current_observation.condition.text }}</p>
      </div>
    </div>
  </div>

  <div class="weather--lower">
    <div class="weather--lower-label">
      <h2>More Information</h2>
    </div>

    <div class="weather--lower-info">
      <div class="info--content">
        <div class="info--content-image">
          <img src="../assets/sunrise.png" alt="cold temperature" />
          <span>sunrise</span>
        </div>

        <div class="info--content-value">
          <span>{{ weatherData.current_observation.astronomy.sunrise }}</span>
        </div>
      </div>

      <div class="info--content">
        <div class="info--content-image">
          <img src="../assets/sea.png" alt="cold temperature" />
          <span>sunset</span>
        </div>

        <div class="info--content-value">
          <span>{{ weatherData.current_observation.astronomy.sunset }}</span>
        </div>
      </div>

      <div class="info--content">
        <div class="info--content-image">
          <img src="../assets/wind.png" alt="cold temperature" />
          <span>humidity</span>
        </div>

        <div class="info--content-value">
          <span>{{ weatherData.current_observation.atmosphere.humidity }}</span>
        </div>
      </div>

      <div class="info--content">
        <div class="info--content-image">
          <img src="../assets/shared-vision.png" alt="cold temperature" />
          <span>vision</span>
        </div>

        <div class="info--content-value">
          <span>{{
            weatherData.current_observation.atmosphere.visibility
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
